body {
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text-primary);
    background: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    color: var(--color-text-primary);
}

h1 {
    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-family: var(--font-heading);
    font-size: 1.25rem;
    font-weight: 600;
}

h4 {

}

small {
    font-size: 0.75rem;
}

a {
    color: var(--color-primary);
}